@import url("https://fonts.googleapis.com/css2?family=Anton&family=Goblin+One&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.PageBackground {
  background: #111111;
  height: 100%;
}

.container-fluid {
  max-width: 1280px;
}

.menu-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu-tab button {
  padding: 10px 20px;
  background-color: #ffb400;
  color: #fff;
  border: none;
  border-right: 1px solid #888;
  font-weight: bold;
  letter-spacing: 1px;
}

.menu-tab button:nth-child(1) {
  padding: 10px 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu-tab button:nth-child(6) {
  padding: 10px 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project_img {
  -webkit-box-shadow: 5px 8px 6px #777777;
  box-shadow: 5px 8px 6px #777777;
  max-height: 300px;
  height: 200px;
  width: 100%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.project_img:hover {
  -webkit-box-shadow: 5px 8px 6px #ffb400;
  box-shadow: rgba(255, 180, 0, 0.3) 0px 19px 38px, rgba(255, 180, 0, 0.22) 0px 15px 12px;;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #fff;
  opacity: 1;
}

@media (max-width: 768px) {
  .menu-tab button {
    padding: 6px 6px;
    font-size: 10px;
  }

  .menu-tab button:nth-child(1),
  .menu-tab button:nth-child(6) {
    padding: 10px 20px;
  }

  .project_img {
    height: auto;
  }
}

@media (max-width: 900px) {
  .menu-tab {
    margin-top: 2rem;
  }
}