.Aboutus {
  background: #111111;
  height: 100%;
}
section {
  display: flex;
  justify-content: center;
  text-align: center;
}
section h1 {
  color: #222222;
  font-size: 110px;
  line-height: 0.7;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 800px;
  font-family: "Goblin One", cursive;
  margin-top: 2rem;
}
section h3 {
  text-align: center;
  font-size: 56px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  position: relative;
  top: -87px;
}
section h3 span {
  color: #ffb400;
}
.container h1 {
  color: #fff;
}
.PERSONAL_INFOS h1 {
  color: #fff;
  font-size: 26px;
  margin-bottom: 1.5rem;
  margin-left: 1.9rem;
  font-weight: 600;
}
.PERSONAL_INFOS .row .col-6 ul li {
  list-style: none;
  margin-bottom: 1.5rem;
}
.PERSONAL_INFOS .row .col-6 ul li span:nth-child(1) {
  color: #9d9d9d;
  font-weight: 600;
}
.PERSONAL_INFOS .row .col-6 ul li span:nth-child(2) {
  color: #ffffff;
  margin-left: 0.5rem;
  font-weight: 600;
}
.PERSONAL_INFOS_a {
  background: transparent;
  padding: 0 0 0 25px;
  border-radius: 35px;
  color: #ffffff;
  border: 1px solid #ffb912;
  font-weight: 700 !important;
  font-size: 15px;
  transition: 0.7s all ease-in-out;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  margin-left: 1.5rem;
  text-decoration: none;
  width: fit-content;
}
.PERSONAL_INFOS a i {
  margin-left: 1rem;
  color: #ffffff;
  background-color: #ffb912;
  padding: 22px;
  border-radius: 35px;
}
.PERSONAL_INFOS a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.box {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.child {
  background: transparent;
  border: 1px solid #333333;
  border-radius: 5px;
  /* box-shadow: 0 0 20px #bac3c3; */
  height: 150px;
  width: 250px;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
}
.child h1 {
  font-size: 1.3rem;
  color: #555555;
  padding: 0 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}
.child h1 span {
  color: #ffb400;
  font-weight: 800 !important;
  font-size: 3rem;
}
.child h1 span sup {
  font-size: 2rem;
  font-weight: 500;
}
.child p {
  color: #fff;
  font-size: 1rem;
  border-top: 1px solid #333333;
  text-align: center;
  text-transform: uppercase;
}
.heading h3 {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700 !important;
  margin: 0;
}
.container .column {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}
.container .Title {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin: 14px 0px;
}

.State_line {
  border: 1px solid #333333;
  width: 30%;
  margin: 0 auto;
}

.resume-box {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.resume-box ul li {
  list-style: none;
  border-left: 1px solid #333333;
  padding-left: 2rem;
}
.resume-box ul li .icon {
  position: relative;
  top: -10px;
  right: 53px;
  background-color: #ffb400;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  display: grid;
  place-items: center;
}
.resume-box ul li .icon i {
  color: #ffffff;
}
.resume-box ul li .years {
  padding: 0 10px;
  position: relative;
  top: -43px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 20px;
  font-size: 13px;
}
.resume-box ul li h5 {
  color: #ffffff;
  position: relative;
  top: -25px;
  font-size: 22px;
  margin: 0;
  font-weight: 700;
}
.from-place {
  color: #444444;
  /* text-transform: uppercase; */
  font-weight: 700;
  text-align: center;
}
.resume-box ul li p {
  color: #ffffff;
  position: relative;
  top: -20px;
  font-size: 15px;
}

@media (max-width: 900px) {
  .PERSONAL_INFOS {
    margin-top:12px;
  }
}
