/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Goblin+One&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

section .heading_background {
  color: #222222;
  font-size: 6.87rem;
  line-height: 0.7;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 800px;
  font-family: "Goblin One", cursive;
  margin-top: 2rem;
  text-transform: uppercase;
}

section .heading {
  text-align: center;
  font-size: 56px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  position: relative;
  top: -90px;
}

section h3 span {
  color: #ffb912;
}